<h2 class="dialog-title">Upload PDF</h2>
<div class="upload">
  <input id="PDFInput" type="file"  accept="application/pdf" hidden='true'
  multiple  name="file-input-button">
<button mat-icon-button [title]="'PRODUCT.ADD.DIALOG_ADD_BUTTON' | translate" color="accent"
  (click)="onClickAddPDF()"  name="PDF-input-button">
  <mat-icon>picture_as_pdf</mat-icon>
</button>
</div>
<button class="submit-button" name="archive-dialog-archive-button" mat-button> 
    {{ 'PRODUCT.ADD.DIALOG_ADD_BUTTON' | translate }}
  </button>
  <button class="cancel-button" (click)="closeDialog()" name="archive-dialog-cancel-button" mat-stroked-button>
    {{ 'PRODUCT.ARCHIVE.DIALOG_CANCEL_BUTTON' | translate }}
  </button>