.submit-button {
    background-color: green;
}

.dialog-title {
    padding: 0px;
    margin: 0px;
}

.cancel-button {
    margin-left: 5px;
}

.upload{
    margin-bottom: 15px;
    margin-top: 15px;
}